{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'properties/css/style.css' %}" />
    <div class="content">
        <div class="container">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Property</th>
                    <th>Price</th>
                    <th>Bedrooms</th>
                    <th>Bathrooms</th>
                    <th>Bills Included?</th>
                    <th>Date Available</th>
                </tr>
                </thead>
                <tbody>
                {% for property in property %}
                    {% for saved in property.savedproperty_set.all %}
                        <tr>
                            <td>
                                {% for image in property.propertyimage_set.all|dictsortreversed:"is_main"|slice:":1" %}
                                    <a href="{% url 'view' property.id %}"><img class="index-image" src="/{{ image.image.url }}"></a><br />
                                {% endfor %}
                                {{ property.line_one }}
                                <p><a href="#_" property-id="{{ property.id }}" class="danger-small">Remove</a></p>
                            </td>
                            <td>£{{ property.price }}</td>
                            <td>{{ property.no_of_bedrooms }}</td>
                            <td>{{ property.no_of_bathrooms }}</td>
                            {% if property.bills_included == 'y' %}
                                <td>Yes</td>
                            {% else %}
                                <td>No</td>
                            {% endif %}
                            <td>{{ property.date_available }}</td>
                            <td><a href="{% url 'enquire' property.id %}" class="enquire-btn btn btn-large">Request details</a></td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $(".danger-small").on("click", function () {
                propertyId = $(this).attr('property-id');
                userId = {{ request.user.id }};
                $.ajax ({
                    url:"/properties/remove-saved-property/",
                    data: {propertyId : propertyId, userId : userId},
                    dataType: "json",
                    type: "POST",
                    success: function(data){
                        response(data);
                    }
                });
                $(this).closest("tr").fadeOut("slow");
            });
        });
    </script>
{% endblock %}