<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>UniMove</title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/style.css' %}" />
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div id="site-header">
    <div id="site-header-wrap">
        <ul class="toolbar-right">
            {% if user.is_authenticated %}
                <li class="welcome-parent list-right" id="welcome-user"><a href="#_">Welcome back, {{ request.user.username|title }}</a>
                    <ul class="welcome-options">
                        <li><a href="/my-profile">My Profile</a></li>
                        <li><a href="/settings">Settings</a></li>
                        <li><a href="/accounts/logout">Logout</a></li>
                    </ul>
                </li>
            {% else %}
                <li class="nav-right"><a href="/accounts/login">Sign In</a> </li>
                <li>or</li>
                <li><a href="/accounts/register">Register</a></li>
            {% endif %}
            <li class="list-right"><a href="/my-unimove/" title="My UniMove">My UniMove</a></li>
        </ul>
        <nav id="top-nav">
            <ul id="nav">
                <li><a class="logo-main" href="/"><img src="logo.jpg"></a></li>
                <li><a href="/properties/">For Sale</a></li>
                <li><a href="/properties/">For Rent</a></li>
                <li><a href="/properties/">House Prices</a></li>
                <li><a href="/properties/">New Homes</a></li>
                <li><a href="/properties/">Agents</a></li>
                <li><a href="/properties/">Blog</a></li>
                <li><a href="/properties/">Student Tips</a></li>
            </ul>
        </nav>
    </div>
</div>
{% block content %}{% endblock %}
<div id="footer">
    <div class="container wrapper">
        <div class="row">
            <div class="col-md-3">
                <h6 class="footer-headers">COMPANY</h6>
                <li>
                    <a href="/about/">About</a>
                </li>
                <li>
                    <a href="/team/">Team</a>
                </li>
                <li>
                    <a href="/advertising/">Advertising</a>
                </li>
            </div>
            <div class="col-md-3">
                <h6 class="footer-headers">SUPPORT</h6>
                <li>
                    <a href="/process/">How Uni Move works</a>
                </li>
                <li>
                    <a href="/faq/">FAQ</a>
                </li>
                <li>
                    <a href="/contact-us/">Contact</a>
                </li>
            </div>
            <div class="col-md-3">
                <h6 class="footer-headers">AGENTS</h6>
                <li>
                    <a href="/why-use-us/">Why use us?</a>
                </li>
                <li>
                    <a href="/agent-sign-up/">Register your agency</a>
                </li>
            </div>
            <div class="col-md-3">
                <h6 class="footer-headers">CONNECT</h6>
                <li>
                    <i class="fa fa-facebook footer-icons"></i><a href="http://facebook.com/uni.move">Facebook</a>
                </li>
                <li>
                    <i class="fa fa-twitter footer-icons"></i><a href="http://twitter.com/unimove/">Twitter</a>
                </li>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('.parent').click(function() {
                $('.sub-nav').slideToggle('fast', function () {

                });
            });
            $('.welcome-parent').click(function() {
                $('.welcome-options').slideToggle('fast', function () {

                });
            });
        });
    </script>
</body>
</html>