/* VIEW PROPERTY */
.main-image {
    height: 400px;
    width: 600px;
}

.index-image {
    height: 150px;
    width: 200px;
}

.property-view {
    width: auto;
    background-color: #F5F4EE;
}

.property-content {
    background-color: #F0EEE5;
    border-bottom: 1px solid #DDDDDD;
}

.main-view {
    background-color: #ffffff;
}

.price {
    margin-top: 30px;
    font-size: 15px;
    color: #88134B;
}

hr {
    height: 1px;
    color: #383838;
    background: #383838;
    font-size: 0;
    border: 0;
}

.search-textbox {
    width: 250px;
    margin-bottom: 20px;
}

.enquire-btn {
    background-color: #228B22;
    color: #ffffff;
}

#features {
    margin-top: -98px;
}

.property-title {
    margin-top: 15px;
}

.property-logo {
    width: 50px;
    height: 25px;
}

.property-logo-main {
}

.mid-property {
    border-right:1px solid #eeeeee;
}

.similar-property {
    margin-top: 20px;
    padding-left: 40px;
}

.property-actions a {
    margin-left: -40px;
    display: block;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px 0 10px 15px;
    color: #383838;
    width: auto;
}

.property-actions a:hover {
    background-color: #eeeeee;
}

.danger-small {
    font-size: 10px;
    color: red !important;
}

.social-media-facebook, .social-media-twitter {
    margin-top: 30px;
    margin-left: 30px;
}

.social-media-facebook img {
    width: 30px;
    height: 30px;
}

.social-media-twitter img {
    width: 50px;
    height: 30px;
}