<!DOCTYPE html>
<html>
<head>
    <title>View Houses</title>
        {% load staticfiles %}
    <style>
        #map_canvas {
            width: 1800px;
            height: 950px;
        }
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=drawing&sensor=false"></script>
</head>
<body>
<div id="map_canvas"></div>
{% for values in longLat.all %}
    <div class="latLong" latitude="{{ values.latitude }}" longitude="{{ values.longitude }}"></div>
{% endfor %}
<script>
    function initialize() {
        var drawingManager = new google.maps.drawing.DrawingManager({
            markerOptions: {
                icon: '{% static 'maps/images/house-icon.png' %}'
            }
        });

        var map_canvas = document.getElementById('map_canvas');

        //Get the co-ords from the div above
        var lat = $('.latLong').attr('latitude');
        var long = $('.latLong').attr('longitude');

        var getLatLong = new google.maps.LatLng(lat, long);

        var map_options = {
            center: getLatLong,
            zoom: 17,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(map_canvas, map_options);

        var marker = new google.maps.Marker({
            position: getLatLong,
            icon: '{% static 'maps/images/house-icon.png' %}',
            map: map
        });

        drawingManager.setMap(map);

        google.maps.event.addListener(marker, 'click', function() {
            var infowindow = new google.maps.InfoWindow();
            infowindow.setContent('Hi!');
            infowindow.open(marker.get('map'), marker);
        });
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>
</body>
</html>
