{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
        <div id="hero">
            <div class="hero-wrapper">
                <div id="focus">
                    <div id="hero-title">Move with confidence</div>
                    <h1 class="hero-strapline">Search student properties for rent in the UK</h1>
                    <form action="/properties/" method="post">{% csrf_token %}
                        <button id="search-button" class="nochrome"><i class="fa fa-search fa-lg"></i></button>
                        <input id="postcode-field" type="text" name="hero-postcode" placeholder="Leeds, PU63JS, Hertfordshire, etc... ">
                        <input id="hero-submit" type="submit" value="Go">
                    </form>
                </div>
                <div id="hero-image">
                    <img class="hero-image" src="{% static 'home/images/hero-image.jpg' %}">
                </div>
            </div>
        </div>
        <div class="content">
            <div id="featured-properties" class="container">
                <div class="row">
                        <div class="col-md-3">
                            <a href="/tips-tricks/"><img src="{% static 'home/images/tips+tricks.jpg' %}"></a>
                            <h4>Tips and tricks for Students</h4>
                            <p>Struggling to get your head around moving? Check out or latest tips and tricks to help you
                            move with minimum hassle.</p>
                            <span class="learn-more">>>></span> <a href="/tips-tricks/">Learn More</a>
                        </div>
                    <div class="col-md-3">
                            <a href="/blog/"><img src="{% static 'home/images/blog.jpg' %}" width="180" height="159"></a>
                            <h4>The UniMove Blog</h4>
                            <p>Check out the latest from UniMove on our brand new blog. Or keep up to date through our
                            Facebook and Twitter.</p>
                            <span class="learn-more">>>></span> <a href="/blog/">Learn More</a>
                        </div>
                    <div class="col-md-3">
                             <a href="/accounts/register/"><img src="{% static 'home/images/map-pod.jpg' %}"></a>
                            <h4>Tools to lend a hand</h4>
                            <p>Watch properties, get email alerts, compare properties, and lots more are available for you now.</p>
                            <a href="/accounts/register">Create Account</a>
                        </div>
                </div>
            </div>
            <div id="new-properties" class="container">
                <h4>Newest Properties</h4>
                <div class="rows">
                    {% for featured in featured %}
                        <div class="col-md-3">
                            {% for image in featured.propertyimage_set.all|dictsortreversed:"is_main"|slice:":1" %}
                                <p><a href="{% url 'view' featured.id %}"><img class="index-image" src="/{{ image.image.url }}"></a></p>
                            {% endfor %}
                            <p><a class="property-anchor" href="{% url 'view' featured.id %}">{{ featured.line_one }}</a></p>
                            <p>{{ featured.no_of_bedrooms }} bedroom {{ featured.type }}</p>
                            <h4>£{{ featured.price }}.00 pppw</h4>
                            <p>{{ featured.agent }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}