{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'properties/css/style.css' %}" />
    <div class="content property-content">
        <div id="search-container"></div>
        <div class="container property-view">
            <div id="properties" class="row">
                <div class="col-md-6">
                    <form action="" method="post"> {% csrf_token %}
                        {{ form|bootstrap }}
                        <div class="form-group">
                            <label for="image-upload">Image</label>
                            <input type="file" id="image-upload" name="main-image">
                        </div>
                        <input type="submit" value="Submit" />
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}