{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'properties/css/style.css' %}" />
    <div class="content property-content">
        <div id="search-container"></div>
        <div class="container property-view">
        <a href="/agents/{{ request.user.id }}/add-image">Add a new image</a><br />
            {% for image in property_image %}
                <div class="col-md-2 property-list">
                    <img class="index-image" src="/{{ image.image }}"><br />
                    <p><a href="#_" image-id="{{ image.id }}" class="danger-small">Remove</a></p>
                </div>
            {% endfor %}
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $(".danger-small").on("click", function () {
                imageId = $(this).attr('image-id');
                $.ajax ({
                    url:"/properties/remove-image/",
                    data: {imageId : imageId},
                    dataType: "json",
                    type: "POST",
                    success: function(data){
                        response(data);
                    }
                });
                $(this).closest("div").fadeOut("slow");
            });
        });
    </script>
{% endblock %}