{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'properties/css/style.css' %}" />
    <div class="content property-content">
        <div id="search-container"></div>
        <div class="container property-view">
            <a href="/agents/{{ request.user.id }}/add">Add a new property</a><br />
            {% for property in property %}
                <div class="col-md-2 property-list">
                    {% for image in property.propertyimage_set.all|dictsortreversed:"is_main"|slice:":1" %}
                        <a href="{% url 'view' property.id %}"><img class="index-image" src="/{{ image.image.url }}"></a><br />
                    {% endfor %}
                    {{ property.line_one }}
                    £{{ property.price }}
                    {{ property.no_of_bedrooms }}
                    <p><a href="/agents/{{ request.user.id }}/{{ property.id }}/edit/" class="danger-small">Edit</a></p>
                    <p><a href="#_" property-id="{{ property.id }}" class="danger-small">Remove</a></p>
                    <p><a href="/agents/{{ request.user.id }}/{{ property.id }}/images/" class="danger-small">Images</a></p>
                {% if property.approved == 'y' %}
                    <img class="set-status" src="{% static 'agents/images/on.png'%}">
                {% else %}
                    <img class="set-status" src="{% static 'agents/images/off.png'%}">
                {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $(".danger-small").on("click", function () {
                propertyId = $(this).attr('property-id');
                $.ajax ({
                    url:"/properties/remove-property/",
                    data: {propertyId : propertyId},
                    dataType: "json",
                    type: "POST",
                    success: function(data){
                        response(data);
                    }
                });
                $(this).closest("div").fadeOut("slow");
            });

            $(".")
        });
    </script>
{% endblock %}