{% extends "base.html" %}
{% load staticfiles %}
{% load properties_extras %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'properties/css/style.css' %}" />
    <div class="content">
        <div class="container">
            <p>
                <img class="property-logo-main" src="{{ STATIC_URL }}/static/properties/images/agents/{{ agent.id }}/{{ agent.logo }}" />
                <a href="{{ agent.facebook }}" class="social-media-facebook"><img src="{{ STATIC_URL }}/static/properties/images/social-media/facebook-round-color.png" /></a>
                <a href="{{ agent.twitter }}" class="social-media-twitter"><img src="{{ STATIC_URL }}/static/properties/images/social-media/twitter-round-color.jpg" /></a>
            </p>
            {{ agent.description }}
            <hr>
            <div id="properties" class="row">
                <h4>{{ count }} properties found</h4>
                {% for values in property %}
                    <div class="col-md-3">
                        {% for image in values.propertyimage_set.all|dictsortreversed:"is_main"|slice:":1" %}
                            <a href="{% url 'view' values.id %}"><img class="index-image" src="{{ STATIC_URL }}/static/properties/images/{{ image.property_id_id }}/{{ image.image }}"></a><br />
                        {% endfor %}
                        <a href="{% url 'view' values.id %}">{{ values.line_one }}</a>
                        <p>{{ values.line_two }}</p>
                        <p>{{ values.city }}</p>
                        <p>{{ values.postcode }}</p>
                        <p>{{ values.agent }}</p>
                        {% for review in values.review_set.all %}
                            {{ review.star_rating }}
                        {% endfor %}
                        <a href="{% url 'review' values.id %}">Leave a Review</a><br />
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
