{% extends "base.html" %}

{% block content %}
    <div class="content">
        <div class="container">
            <div id="properties" class="row">
                <div class="col-md-10">
                    <h1>Contact {{ agent.name }}</h1>
                    <form action="" method="post" role="form"> {% csrf_token %}
                        {{ property.line_one }}<br/>
                        {% for image in property.propertyimage_set.all|dictsortreversed:"is_main"|slice:":1" %}
                            <a href="{% url 'view' property.id %}"><img class="index-image" src="/{{ image.image.url }}"></a><br />
                        {% endfor %}
                        <div class="form-group">
                            <label for="property">Name</label>
                            <input type="text" class="form-control" name="property" />
                        </div>
                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea class="form-control" name="message"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="contact-number">Contact Number</label>
                            <input type="text" class="form-control" name="contact-number" />
                        </div>
                        <div class="form-group">
                            <label>
                                <input type="checkbox" name="receive-emails"> Receive juicy nuggets of information from Uni Move
                            </label>
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}