{% extends "base.html" %}
{% load staticfiles %}
{% load properties_extras %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'properties/css/style.css' %}" />
    <div class="content">
        <div class="container wrap">
            <div class="row">
                <div class="col-md-3">
                    <div id="search">
                        <h3>Refine your search</h3>
                        <form action="/properties/" method="post" role="form"> {% csrf_token %}
                            <input type="text" name="location" class="search-textbox" placeholder="Enter a location or postcode..."><br />
                            Min:
                            <select name="min-price">
                                <option value="0">No min</option>
                                <option value="45">£45</option>
                                <option value="50">£50</option>
                                <option value="55">£55</option>
                                <option value="60">£60</option>
                                <option value="65">£65</option>
                                <option value="70">£70</option>
                                <option value="75">£75</option>
                                <option value="80">£80</option>
                                <option value="85">£85</option>
                                <option value="90">£90+</option>
                            </select>
                            Max:
                            <select name="max-price">
                                <option value="1000">No max</option>
                                <option value="45">£45</option>
                                <option value="50">£50</option>
                                <option value="55">£55</option>
                                <option value="60">£60</option>
                                <option value="65">£65</option>
                                <option value="70">£70</option>
                                <option value="75">£75</option>
                                <option value="80">£80</option>
                                <option value="85">£85</option>
                                <option value="90">£90+</option>
                            </select>
                            Bedrooms:
                            <select name="bedrooms">
                                <option value="1">1</option>
                                <option value="1">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9+</option>
                            </select>
                            Type:
                            <select name="type">
                                <option value="">All</option>
                                <option value="House">House</option>
                                <option value="Flat/Apartment">Flat/Apartment</option>
                            </select>
                            <input type="submit" value="Search">
                        </form>
                    </div>
                </div>
                <div class="property-view">
                    <div id="properties" class="col-md-9">
                        {% if agent %}
                            <h4>Showing all properties for {{ agent.name }}</h4>
                        {% endif %}
                        {% for property in property %}
                            <div class="col-md-4 property-list">
                                {% for image in property.propertyimage_set.all|dictsortreversed:"is_main"|slice:":1" %}
                                    <p><a href="{% url 'view' property.id %}"><img class="index-image" src="/{{ image.image.url }}"></a></p>
                                {% endfor %}
                                <p><a class="property-anchor" href="{% url 'view' property.id %}">{{ property.line_one }}</a></p>
                                <p>{{ property.no_of_bedrooms }} bedroom {{ property.type }}</p>
                                <h4>£{{ property.price }}.00 pppw</h4>
                                <p>{{ property.agent }}</p>
                                {% for review in property.review_set.all %}
                                {% endfor %}
                                {% comment %}<a href="{% url 'review' values.id %}">Leave a Review</a><br />{% endcomment %}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="pagination">
                <span class="step-links">
                    {% if property.has_previous %}
                        <a href="?page={{ property.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ property.number }} of {{ property.paginator.num_pages }}
                    </span>

                    {% if property.has_next %}
                        <a href="?page={{ property.next_page_number }}">next</a>
                    {% endif %}
                </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}