{% extends "base.html" %}

{% block content %}
    <div class="content">
        <div class="container">
            <div id="properties" class="row">
                <div class="col-md-10">
                    <form action="/properties/{{ propertyObject.id }}/review/" method="post"> {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Submit" />
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}