{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <style>
        #map_canvas {
            width: 250px;
            height: 200px;
        }
    </style>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'properties/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'properties/FlexSlider/flexslider.css' %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static 'properties/FlexSlider/modernizr.js' %}" type="text/css" media="screen" />
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

    <div class="content property-content">
        <div id="search-container">
            <form action="" method="post">{% csrf_token %}
                <button id="search-button"><i class="fa fa-search fa-lg"></i></button>
                <input class="form-control" type="text" placeholder="Search other properties...">
                <input type="submit" style="display: none;">
            </form>
        </div>
        <div class="container property-view">
            <div id="properties" class="row">

                <!-- Property image and features column -->
                <div class="col-md-7 main-view">
                    <h3 class="property-title">{{ property.line_one }}, {{ property.line_two }}
                        <span class="price">£{{ property.price }} pp/pw + fees</span></h3>
                    <div id="slider" class="flexslider">
                        <ul class="slides">
                            {% for image in image.all %}
                                <li>
                                    <img src="/{{ image.image.url }}" />
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div id="carousel" class="flexslider">
                        <ul class="slides">
                            {% for image in image.all %}
                                <li>
                                    <img src="/{{ image.image.url }}" />
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="features-street-row">
                                <h4 class="bold-header">Features</h4>
                                <ul class="features-list">
                                    <li>{{ property.no_of_bedrooms }} bedrooms</li>
                                    <li>{{ property.no_of_bathrooms }} bathrooms</li>
                                    {% if property.is_furnished == 'y' %}
                                        <li>Fully furnished</li>
                                    {% else %}
                                        <li>Unfurnished</li>
                                    {% endif %}
                                    {% if property.bills_included == 'y' %}
                                        <li>Bills included</li>
                                    {% else %}
                                        <li>Bills not included</li>
                                    {% endif %}
                                    <li>Available from {{ property.date_available }}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div id="street-view" class="features-street-row">
                                <h4 class="bold-header">Street View</h4>
                                <div id="map_canvas"></div>
                                <div class="latLong" latitude="{{ postcode.latitude }}" longitude="{{ postcode.longitude }}"></div>
                            </div>
                        </div>
                    </div>
                    <h4 class="bold-header">Interested?</h4><h5>Call {{ agent.contact_number }} or
                    <a href="/properties/{{ property.id }}/enquire/" class="enquire-btn btn btn-large">Request details</a></h5>
                    <h4 class="bold-header">Description</h4>
                    <p>{{ property.description }}</p>
                </div>

                <!-- Main property details -->
                <div class="col-md-3 mid-property">
                    <div class="property-box">
                        <h4 class="span-tag">{{ property.type }} to rent</h4>
                        <a href="/properties/{{ property.id }}/enquire/" class="enquire-btn btn btn-large">Request details</a>
                        <p>or call <span class="agent-number">{{ agent.contact_number }}</span></p>
                    </div>
                    <div class="property-box">
                        <ul>
                            <li class="property-actions"><a href="#_" id="save-property"><i class="fa fa-star"></i> Save this property</a></li>
                            <li class="property-actions"><a href="#_" id="email-property"><i class="fa fa-envelope"></i> Email this page</a></li>
                            <li class="property-actions"><a href="#_" id="print-property"><i class="fa fa-print"></i> Print this page</a></li>
                        </ul>
                    </div>
                    <p>Marketed by <a href="/properties/{{ agent.id }}/agent/">
                        <img class="property-logo" src="{{ STATIC_URL }}/static/properties/images/agents/{{ agent.id }}/{{ agent.logo }}" /></a></p>
                    <div class="property-box">
                        <h4>Share this property</h4>
                        <span class='st_facebook_large' displayText='Facebook'></span>
                        <span class='st_twitter_large' displayText='Tweet'></span>
                        <span class='st_pinterest_large' displayText='Pinterest'></span>
                    </div>
                </div>

                <!-- Adverts and Featured Properties column -->
                <div class="col-md-2 similar-property">
                    <h5>Similar Properties</h5>
                    {% for property in recommended %}
                        {% for image in property.propertyimage_set.all|dictsortreversed:"is_main"|slice:":1" %}
                            <a href="{% url 'view' property.id %}"><img class="index-image" src="/{{ image.image.url }}"></a><br />
                        {% endfor %}
                        £{{ property.price }} pppw<br />
                        <a href="{% url 'view' property.id %}">{{ property.line_one }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#save-property").on("click", function () {
                propertyId = {{ property.id }};
                userId = {{ request.user.id }};
                $.ajax ({
                    url:"/properties/save-property/",
                    data: {propertyId : propertyId, userId : userId},
                    dataType: "json",
                    type: "POST",
                    success: function(data){
                        response(data);
                    }
                });
                alert('Property saved');
            });
        });
    </script>
    <script defer src="{% static 'properties/FlexSlider/jquery.flexslider.js' %}"></script>
    <script>
        $(window).load(function(){
            $('#carousel').flexslider({
                animation: "slide",
                controlNav: false,
                animationLoop: false,
                slideshow: false,
                itemWidth: 150,
                itemMargin: 5,
                asNavFor: '#slider'
            });

            $('#slider').flexslider({
                animation: "slide",
                controlNav: false,
                animationLoop: false,
                slideshow: false,
                sync: "#carousel",
                start: function(slider){
                    $('body').removeClass('loading');
                }
            });
        });
    </script>
    <script>
        function initialize() {
            var map_canvas = document.getElementById('map_canvas');

            //Get the co-ords from the div above
            var lat = $('.latLong').attr('latitude');
            var long = $('.latLong').attr('longitude');

            var getLatLong = new google.maps.LatLng(lat, long);

            var map_options = {
                center: getLatLong,
                zoom: 15,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            var map = new google.maps.Map(map_canvas, map_options);

            var marker = new google.maps.Marker({
                position: getLatLong,
                icon: '{% static 'maps/images/house-icon.png' %}',
                map: map
            });

            google.maps.event.addListener(marker, 'click', function() {
                var infowindow = new google.maps.InfoWindow();
                infowindow.setContent('Hi!');
                infowindow.open(marker.get('map'), marker);
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <script src="{% static 'properties/FlexSlider/jquery.easing.js' %}"></script>
    <script src="{% static 'properties/FlexSlider/jquery.mousewheel.js' %}"></script>
{% endblock %}