@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-a6q4um');
	src:url('fonts/icomoon.eot?#iefix-a6q4um') format('embedded-opentype'),
		url('fonts/icomoon.woff?-a6q4um') format('woff'),
		url('fonts/icomoon.ttf?-a6q4um') format('truetype'),
		url('fonts/icomoon.svg?-a6q4um#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
	content: "\e600";
}
