{% extends "base.html" %}

{% block title %}Log in{% endblock %}

{% block content %}
    <div class="content">
        <div class="container">
            <h1>Log in</h1>
            {% if form.errors %}
                <p class="error">Please correct the errors below:</p>
            {% endif %}
            <div id="properties" class="row">
                <div class="col-md-10">
                    <form method="post" action="?next={{ next|default:"/" }}">{% csrf_token %}
                        <dl>
                            <dt><label for="id_username">Username:</label>{% if form.username.errors %} <span class="error">{{ form.username.errors|join:", " }}</span>{% endif %}</dt>
                            <dd>{{ form.username }}</dd>
                            <dt><label for="id_password">Password:</label>{% if form.password.errors %} <span class="error">{{ form.password.errors|join:", " }}</span>{% endif %}</dt>
                            <dd>{{ form.password }}</dd>
                            <dt><input type="submit" value="Log in" /></dt>
                        </dl>
                    </form>
                <a href="/accounts/password/reset/">Forgotten Your Password?</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content-related %}
    <p>If you don't have an account, you can <a href="/accounts/register/">sign
        up</a> for one.
{% endblock %}