{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"></div>{% endblock %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
    <div class="content">
        <div class="container">
            <div class="rows">
                <h1>{% trans "Password reset" %}</h1>

                <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>

                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.email.errors }}
                    <p><label for="id_email">{% trans 'E-mail address:' %}</label> {{ form.email }} <input type="submit" value="{% trans 'Reset my password' %}" /></p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
