{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password changed successfully' %}{% endblock %}

{% block content %}
    <div class="content">
        <div class="container">
            <a href="/my-profile/"><i class="fa fa-arrow-left"></i> Go back</a>
            <div class="row">
                <h1>{% trans 'Password changed successfully' %}</h1>

                <p>{% trans 'Your password was changed.' %}</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block content-related %}

{% endblock %}