
{% extends "base.html" %}
{% load i18n %}

{% block title %} {% trans 'Password change' %} {% endblock %}

{% block content %}
    <div class="content">
        <div class="container">
            <a href="/my-profile/"><i class="fa fa-arrow-left"></i> Go back</a>
            <h1>{% trans 'Password change' %}</h1>

            <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
            <div class="row">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.old_password.errors }}
                    <p class="aligned wide"><label for="id_old_password">{% trans 'Old password:' %}</label>{{ form.old_password }}</p>
                    {{ form.new_password1.errors }}
                    <p class="aligned wide"><label for="id_new_password1">{% trans 'New password:' %}</label>{{ form.new_password1 }}</p>
                    {{ form.new_password2.errors }}
                    <p class="aligned wide"><label for="id_new_password2">{% trans 'Confirm password:' %}</label>{{ form.new_password2 }}</p>

                    <p><input type="submit" value="{% trans 'Change my password' %}" /></p>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block content-related %}

{% endblock %}