html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: arial,helvetica,sans-serif;
    margin: 0 0 195px;
}

button {
        /*Reset's every elements apperance*/
        background: none repeat scroll 0 0 transparent;
        border: medium none;
        border-spacing: 0;
        color: #26589F;
        font-family: 'PT Sans Narrow',sans-serif;
        font-size: 16px;
        font-weight: normal;
        line-height: 1.42rem;
        list-style: none outside none;
        margin: 0;
        padding: 0;
        text-align: left;
        text-decoration: none;
        text-indent: 0;
}


a {
    text-decoration: none;
    outline: 0;
}

li {
    list-style-type: none;
}

a:link, a:visited {
    color: forestgreen;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

ul, ol {
    padding-bottom: 16px;
    padding-top: 16px;
    margin-bottom: 2px;
}

#site-header {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    position: fixed;
    height: 56px;
    top: 0;
    width: 100%;
    z-index: 100;
}


.content {
    width: 976px;
    background-color: #ffffff;
    padding-bottom: 40px;
    min-height: 500px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    background-color: #ffffff;
}

.wrap {
    margin-top: 80px;
}

.content:after {
    content:"";
    display: block;
}

#welcome-user {
    margin-right: 20px;
}

/* SIGN IN AND REGISTER BUTTONS */
.btn:link, .btn:visited {
    color: #ffffff;
}

.register-btn:link, .register-btn:visited {
    color: #383838;
    background: none repeat scroll 0 0 #eeeeee;
    margin-right: 20px;
}

.register-btn:hover {
    background: none repeat scroll 0 0 #d6d6d6
}

#site-header-wrap {
    margin: 0 auto !important;
    padding: 0px 15px;
    width: 976px;
}

.learn-more {
    font-size: 12px;
}


#nav a {
    border-bottom: 0 none;
    border-radius: 0.2em 0.2em 0 0;
    border-width: 1px 1px 0;
    font-weight: 700;
    bottom: -1px;
    display: inline-block;
    line-height: 1;
    padding: 10px 6px 13px;
    position: relative;
}

#search-button {
    left: 8px;
    position: absolute;
    top: 11px;
}

button[class*="nochrome"] {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #AAAAAA;
}

#top-nav li {
    display: inline;
    list-style-type: none;
    top: 50%;
}

.hero-image {
    height: auto;
    min-width: 1200px;
    width: 100%;
}

#nav ul.sub-nav {
    display: none;
    position: absolute;
    z-index: 999;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 6px;
}

.welcome-options {
    display: none;
    position: absolute;
    z-index: 999;
}

.toolbar-right {
    float: right;
    margin: 6px 0 2px;
    padding: 0;
    position: relative;
    z-index: 20;
}

.toolbar-right li {
    float: left;
    margin-left: 8px;
    position: relative;
}

.list-right {
    margin-right: 20px;
}

#hero {
    height: 400px;
}

#hero-submit {
    display: none;
}

.hero-wrapper {
    height: 100%;
    left: 0;
    width: 100%;
}

.property-anchor {
    color: #88134B;
    font-weight: bold;
    text-decoration: underline !important;
}

#focus {
    position: relative;
    top: 20%;
}

#focus form {
    position: relative;
    top: -8px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

#focus input {
    padding: 0 0px 0 34px;
}

#postcode-field  {
    height: 40px;
    width: 350px;
}

#hero-image {
    height: 100%;
    overflow: hidden;
    margin-top: -208px;
}

#hero-title {
    color: #FFFFFF;
    font-size: 4.3rem;
    line-height: 5.8rem;
    margin-bottom: -21px;
    margin-top: 41px;
    text-shadow: 0 1px 1px #000000;
    text-align: center;
}

.hero-strapline {
    color: #FFFFFF;
    font: 300 2.5rem/1em Arial,sans-serif;
    letter-spacing: 0;
    min-width: 976px;
    padding-bottom: 1rem;
    text-shadow: 0 1px 1px #000000;
    text-align: center;
}

.index-image {
    height: 150px;
    width: 200px;
}

.row {
    margin-left: 0;
    margin-right: 0;
    width: 960px;
}

#footer {
    background-color: #383838;
    color: white;
    text-align: center;
    font-size: 13px;
}

#footer a {
    color: #aaaaaa;
}

#footer a:hover {
    color: #ffffff;
    text-decoration: underline;
}

#footer h6 {
    font-weight:bold;
    margin-top: 40px;
}

#footer .wrapper {
    position: absolute;
    background-color: #383838;
    bottom: 0;
    display: block;
    min-width: 980px;
    height: 195px;
    width: 100%;
}

.footer-icons {
    margin-right: 5px;
}

