{% extends "base.html" %}
{% block content %}
    <div class="content">
        <div class="container">
            <div id="properties" class="row">
                <div class="col-md-10">
                    <h1>{{ flatpage.title }}</h1>
                    {{ flatpage.content }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}