{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap %}

{% block content %}
    <div class="content">
        <div class="container">
            <h1>Your Profile</h1>
            <h4>Change your basic settings here.</h4>
            <div id="properties" class="row">
                <div class="col-md-10">
                    <form action="/my-profile/" method="post">
                        {% csrf_token %}
                        {{ form|bootstrap }}
                        <button class="btn btn-default" type="submit">Save</button>
                    </form>
                </div>
            </div>
        </div>
    <a href="/accounts/password/change/">Change your password</a>
    </div>
{% endblock %}
